h1{font-family: "华文新魏"; font-size: xxx-large;text-align:center;color:rgb(58, 29, 165);}
#first{text-align: center; margin-top: 1.5cm; line-height: 2;}
#second{text-indent: 2em; margin-top: 1.5cm; line-height: 2;}
.bottom{margin-bottom: 1.5cm;}
nav{background-color: lightgoldenrodyellow; text-align: center; font-size: larger; margin-top: 1cm;}
h3{font-family: "仿宋";color: darkolivegreen; font-size: larger; margin-top: 1.5cm}
.blue{color:blue;}
.violet{color:violet;}